/*
.banner {
	background: black;
	text-align: center;
	padding: 30px 0px 15px 0px;
	color: white;	
}

.banner h1 {
	font-size: 40px;
}

.banner p {
	font-size: 15px;
}

.bar {
	background: #45ADA8;
	text-align: center;
	padding: 10px 0px;
}

.bar a {
	color: white;
	font-size: 15px;
	padding: 0px 45px;
}
*/
body .self{
	font-family: 'Roboto', sans-serif;
	color: #3a4145;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.navbar-brand,
.navbar-nav a {
  font-family: Verdana;
}

.mainB {
	text-align: center;
	/*padding: 5px 0px 15px 0px; /*padding: 30px 0px 15px 0px;*/
	color: black;	
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #3a4145;
}

.mainB h1 {
	font-size: 42px;
	font-weight: bold;
}

.mainB p {
	font-size: 30px;
}

.logo {
	margin-top: 45px;
}
/*
.thumbnail{        
   width: 300px; 
  // or you could use percentage values for responsive layout
    // width : 100%; 
    height: 430px;
    overflow: auto;
}*/
.thumbnail img{
    width: 100%;
    height: auto;
    display: block;
}
/*
i {
	color: #ff9900ff;
}
*/
.self img {
	/*margin-right: 35px;*/
	margin-top: 10px;
	/*margin-bottom: 15px;*/
}
/*
.self p{
   word-wrap: break-word;
   width: 900px;
}
*/
.self h1 {
	font-size: 30px;
	font-weight: bold;
}

.self h2 {
	font-size: 20px;
	/*margin-top: 68px;*/
}

.self p {
	font-size: 15px;
}

.self #profilepic {
	margin-right: 35px;
}
/*
.self {
	padding: 10px;
}
*/
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: gray !important;
    width: 14.6em;
}
/*
.btn.btn-square {
  border-radius: 0;
}
*/

/*
.skills ul{
	list-style-type: none;
}

.skills li {

}
*/
#s {
	background-color: lightgrey;
	margin-top: 40px;
}

#s h2 {
	/*text-align: center;*/
	/*margin-left: 10px;*/
	font-weight: bold;
	font-size: 25px;
	padding: 10px 0px 20px 0px;
}

#sk {
	font-family: 'Roboto', sans-serif;
	/*background-color: gray;*/
	/* argin:auto;
    vertical-align:top;*/
    display:inline-block;
}

#sk ul {
    list-style: none;
    padding: 0px;
    margin-right: 70px;
    margin-bottom: 30px;
    /*padding: 0px 30px;
    padding-right: 30px;
    padding-bottom: 30px;*/
}

/*
.c {
    width:800px;
    background-color:#e0e0e0;
    text-align:center;
}
*/
#sk .fa-laptop, .fa-file, .fa-cogs {
	margin-bottom: 10px;
}

.links {
	clear: both;
}

.links li {
	/*margin-bottom: 5px;*/
}

#linkcol {
	margin-top: 18px;
}

#linkcol p {
	font-size: 20px;
}

#boxed {
	width:50px; /*80*/
    height:50px; /*80*/
    background-color:white;
    /*line-height:80px;*/
    line-height: 65px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
}

.links .fa-github, .fa-lightbulb, .fa-handshake {
	
}

/*
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
*/